@import "../template/mixins";
@import "../template/settings";
@import "../../../bower_components/quantum-colors/_quantum-colors";

$backgroundColor: $green-500;
$mainColor: $grey-50;
$headingColor: $grey-50;
$linkColor: $amber-500;
$linkColorHover: $amber-400;
$selectionBackgroundColor: $indigo-500;
$selectionColor: $white;

@import "material-design-base";
